<h1> All Comedians </h1>

<% @comedians.each do |comedian| %>
  <ul>
    <li><%= comedian.name %></li>
    <li><%= comedian.age %></li>
    <li><%= comedian.specials %></li>
  </ul>
  <% end %>
  <!-- <p>Specials</p>
  <ul>
    <% @comedians.each do |comedian| %>
    <li><%= comedian.specials %></li>
  </ul>
  <% end %> -->
